@page

@model Catalog.Pages.Catalog.CatalogPage

@{
    var page = Model.PageUrl;
}


<body>
    <table class="table">
        <thead>
           blablalba

        </thead>
        <tbody>
           blablabla
        </tbody>
    </table>
</body>
