@inject IHttpClientFactory HttpClient
@using WebMVC.Domain.DTO.BasketService
<style type="text/css">
    /*TODO*/
    .delete-item {
    }

    .cart-item {
    }
</style>
<div class="cart-item">
    <a @onclick="@OnRemoved" class="delete-item">@(BasketItem.Name)</a>

    @* stuff here *@
</div>

@code {
    [Parameter] public BasketDto BasketItem { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}