@using Catalog.Data.Product
@using Catalog.Pages.Common.Aids
@using Catalog.Pages.Common.Extensions
@using Catalog.Pages.Common.Consts
@model Catalog.Pages.Products.ProductInstancesPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}



<body>
    @foreach (var item in Model.Items)
    {
            <div class="esh-catalog-item col-md-4">
                <form asp-page="/Basket/Index" method="post">
                    @*<img class="esh-catalog-thumbnail" src="@item.Image" width="30" height="30" />*@
                    <div class="esh-catalog-price">
                        <span>@Model.priceAmount(item.Id)</span> 
                        </div>

                </form>
            </div>
    }

</body>