@page
@using Catalog.Pages.Common.Extensions
@model Catalog.Pages.Catalog.CatalogEntryPage

@{
    Layout = "_Create";
}
<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DropDown(m => m.Item.CatalogId, Model.Catalogs)
    @Html.DropDown(m => m.Item.CategoryId, Model.Categories)
    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)
</body>