@page
@using Catalog.Pages.Common.Extensions
@model Catalog.Pages.Catalog.CatalogEntryPage


@{
    Layout = "_Details";
}

<body>
    @Html.Show(m => m.Item.CatalogId, Model.CatalogName(Model.Item.CatalogId))
    @Html.Show(m => m.Item.CategoryId, Model.CategoryName(Model.Item.CategoryId))
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>


@section Details {}
