@page
@using Nupp.Views.Home
@using Nupp.Services
@using Nupp.Views.Home.Button
@inject IJSRuntime Js;
@inject SendBasketItemBase A;
@model Nupp.Views.Home.ProductTypeView

@{
    var item = new ProductTypeView();
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/catalog.component.css" />

<body>
    <h1>@A.TotalSelectedItemsCount</h1>
    <div class="container">
        @(await Html.RenderComponentAsync<CatalogItems>(RenderMode.WebAssemblyPrerendered,
            new { Products = Model}))@*TODO basket andmed on ka juba siin arrays olemas
                                         TODO annab edasi iga toote numbri palju seda on valitud*@
        </div>
    </body>
    @(await Html.RenderComponentAsync<SendBasketItemBase>(RenderMode.ServerPrerendered, Model))
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    @section Scripts {
        <script src="~/_framework/blazor.webassembly.js"></script>
    }

    @*Ostukorvi vaate jaoks*@
    @*<div class="card">
            <img class="esh-catalog-thumbnail" src="https://m1.selver.ee/media/catalog/product/cache/1/image/409x/9df78eab33525d08d6e5fb8d27136e95/4/7/4740125000108_2.jpg" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="esh-catalog-price">
                @await Html.PartialAsync("_PartialPriceView", item.Parties)
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>*@