@page
@model SooduskorvWebMVC.Models.OrderProductViewModel
@** kõik tellimused*@
<div class="container">

    <div>Your address: <p class="text text-info bottomMarginSmall">@Model.Address</p></div>

    <div class="text">Please contact us if the address is not valid</div>
</div>




