@page
@model SooduskorvWebMVC.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row text-center">
    <div class="col">
        <h1 style="padding-top: 7%">Tere tulemast Sooduskorvi!</h1>

    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="images/Family.jpg" style="width: 500px;" />
    </div>

</div>

<div>
    <h4 style="text-align: center">Eesti jaekettide hinnavõrdlus portaal</h4>
</div>
