@page
@using Catalog.Pages.Common.Extensions
@model Catalog.Pages.Catalog.CatalogPage


@{
    Layout = "_Details";
}


<body>
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.Description)
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>

@section Details {}
