@page
@using Catalog.Pages.Common.Aids
@using Catalog.Pages.Common.Extensions
@using TestEnvironment.Areas.Products.Pages
@model Catalog.Pages.Products.CatalogPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

<link rel="stylesheet" href="~/css/catalog/catalog.component.css" />

<body>
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @Html.DropMenu("Sorteeri:",
                    new Link(Html.DisplayName("Sorteeri tähestiku järgi"), Model.GetSortString(m => m.Name, page)),
                    new Link(Html.DisplayName("Sorteeri koguse järgi"), Model.GetSortString(m => m.Amount, page))
                    )
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="esh-catalog-items row">
            <component type="typeof(SendBasketItem)" render-mode="ServerPrerendered" />
            @(await Html.RenderComponentAsync<CatalogItems>(RenderMode.ServerPrerendered, new { Products = Model }))
        </div>
    </div>
</body>
@(await Html.RenderComponentAsync<SendBasketItemBase>(RenderMode.ServerPrerendered))
<script>
    function showAlert(message) {
        alert(message);
    }
</script>

@*
    @section Scripts {
        <script src="~/_framework/blazor.webassembly.js"></script>
    }
*@
