

    <div class="mat-layout-grid mat-layout-grid-align-right" style="max-width: 800px;">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell"></div>
            <div class="mat-layout-grid-cell"></div>
            <div class="mat-layout-grid-cell"></div>
        </div>
    </div>

    @code {


    }
