

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing


@*@page "/nav"
<body>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            padding: 10px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .menu {
            width: 25%;
            position: fixed;
            left: 0;
        }

            .menu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            .menu li {
                padding: 10px;
                margin-bottom: 10px;
                background-color: #33b5e5;
                color: #ffffff;
                text-align: center;
            }

                .menu li a {
                    color: white;
                }

        menu li a:active {
            background-color: #0099cc;
        }

        .menu li:hover {
            background-color: #0099cc;
        }

        .menu-sub-menu {
            width: 25%;
            position: fixed;
            left: 0;
        }

            .menu-sub-menu li {
                padding: 10px;
                margin-bottom: 10px;
                background-color: #ffffff;
                color: black;
                text-align: center;
            }

        .center {
            position: absolute;
            padding-left: 60%;
            padding-top: 25%;
        }
    </style>
    <div class="clearfix">
        <div class="column menu">
            <ul>
                <li><a href="#">Puu- ja juurviljad</a></li>
                <i class="fa fa-caret-down"></i>


                <div class="dropdown-container">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>







                 <li><a href="#">Liha- ja kalatooted</a></li>
                    <li><a href="#">Piimatooted, munad, võid</a></li>
                    <li><a href="#">Leivad, saiad,kondiitritooted</a></li>
                    <li><a href="#">Valmistoidud</a></li>
                    <li><a href="#">Kuivained, hommikusöögid, hoidised</a></li>
                    <li><a href="#">Maiustused, küpsised, snäkid</a></li>
                    <li><a href="#">Joogid</a></li>
                    <li><a href="#">Lastekaubad</a></li>
                    <li><a href="#">Lemmikloomakaubad</a></li>
                    <li><a href="#">Enesehooldustarbed</a></li>
                    <li><a href="#">Majapidamis- ja kodukaubad</a></li>
            </ul>
        </div>
    </div>
</body>





@code {*@
}
