@using Microsoft.AspNetCore.Components.Web
@page "/nav"
<body>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            padding: 10px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .menu {
            width: 25%;
            position: fixed;
            left: 0;
        }

            .menu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            .menu li {
                padding: 10px;
                margin-bottom: 10px;
                background-color: #33b5e5;
                color: #ffffff;
                text-align: center;
            }

                .menu li:hover {
                    background-color: #0099cc;
                }

        .center {
            position: absolute;
            padding-left: 60%;
            padding-top: 25%;
        }
    </style>
    <div class="clearfix">
        <div class="column menu">
            <ul>
                <li>Puu- ja köögiviljad</li>
                <li>Liha- ja kalatooted</li>
                <li>Piimatooted, munad, võid</li>
                <li>Leivad, saiad,kondiitritooted</li>
                <li>Valmistoidud</li>
                <li>Kuivained, hommikusöögid, hoidised</li>
                <li>Maiustused, küpsised, snäkid</li>
                <li>Joogid</li>
                <li>Lastekaubad</li>
                <li>Lemmikloomakaubad</li>
                <li>Enesehooldustarbed</li>
                <li>Majapidamis- ja kodukaubad</li>
            </ul>
        </div>
    </div>
</body>

@code {

}