@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject ViewState ViewState
@inherits Nupp2.Views.Home.Button.SendBasketItemBase
@inject IJSRuntime Js
@*@implements IDisposable*@

<div class="card m-3" style="min-width: 18rem; max-width: 30.5%">
    <div class="card-header">
        <h3>
            Toode x
        </h3>
    </div>
    <img class="card-img-top" src="https://m1.selver.ee/media/catalog/product/cache/1/image/409x/9df78eab33525d08d6e5fb8d27136e95/4/7/4740125000108_2.jpg" />

</div>

@code
{
    /*public void Dispose()
    {
        throw new NotImplementedException();
    }*/
}
